<!doctype html>
<html>

<head>
    <title>PyWeather</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>
    <center>
        <h2>PyWeather</h2>
    </center>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4" style="text-align: center">
                <br/>
                <form class="form-group" method="GET" action="/weather/india">
                    <label class="form-control" for="city">Enter the name of an Indian city</label>
                    <input class="form-control" name="city" />
                    <br/>
                    <input class="btn btn-primary" type="submit" />
                </form>
            </div>
            <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>

        </div>
    </div>

</body>

</html>